@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

html, body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a:focus {
  outline: 0; /* Remove dotted borders */
}

canvas {
  cursor: crosshair;
}

h1 {
  font-family: 'Handlee', cursive;
  margin: 10px 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0 0 0 15px;
  padding: 0;
}

.light-box {
  z-index: 2;
  position: absolute;
}

.light-box-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  @include border-radius(10px);
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
}

#main-menu {
  @extend .container;
  width: 410px;
  padding: 10px 20px;
}

#settings {
  @extend .container;
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 14px;

  td {
    text-align: right;
    padding: 3px 0;
  }
}

#facebook-like-button {
  position: absolute;
  top: 20px;
  right: 0;
  width: 90px;
  overflow: hidden;
}

.slider {
  margin-left: 15px;
  width: 100px;
}

.ui-slider-handle, .ui-widget-content {
  @include border-radius(4px);
  background-color: white !important;
  border: 1px solid black !important;
}

.ui-widget-content {
  background-color: transparent !important;
}

.emoji-button {
  @include border-radius(25px);
  cursor: pointer;
  display: block;
  margin-top: 15px;
  width: 36px;
  height: 36px;
  border: 2px solid transparent;

  .emoji {
    background-image: url('../imgs/apple_emoji.png');
    width: 22px;
    height: 22px;
    margin: 6px 0 0 7px;
  }
}

.active {
  border: 2px solid black;
}

#emoji-type .emoji-button {
  margin: 0 5px 0 0;
  float: left;
}

#okay .emoji {
  background-position: -3013px 0;
}

#emotional .emoji {
  margin-top: 7px;
  background-position: -1861px 0;
}

#food .emoji {
  background-position: -17637px 0;
}
